*{
    --orange-primary: hsl(25, 97%, 53%);
    --white: hsl(0, 0%, 100%);
    --light-grey: hsl(217, 12%, 63%);
    --medium-grey: hsl(216, 12%, 54%);
    --dark-blue: hsl(213, 19%, 18%);
    --dark-blue-gradient: hsl(213, 19%, 1%);
    --very-dark-blue: hsl(216, 12%, 8%);
    font-family: 'Overpass', sans-serif;
    list-style-type: none;
}

body{
    background-color: var(--very-dark-blue);
}

.starImage{
    border-radius: 50%;
    width: .75em;
    height: .75em;
    padding: .75em;
    background-color: var(--dark-blue);
}

p{
    display: block;
    font-size: small;
    line-height: 2.5ch;
    margin-bottom: 1em;
}

#submitButton{
    display: block;
    cursor: pointer;
    text-align: center;
    font-size: small;
    border-style: none;
    padding: 1em;
    width: 100%;
    color: white;
    background-color: var(--orange-primary);
    border-radius: 2em;
    line-height: 1.5em;
    letter-spacing: 0.25ch;
    margin-bottom: .5em;
}

#submitButton:hover{
    background-color: var(--white);
    color: var(--orange-primary);
}

.number:focus{
    background-color: var(--light-grey);
    color: white;
}

.number:hover{
    background-color: var(--orange-primary);
    color: var(--white);
}


.number{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-blue);
    color: var(--light-grey);
    width: 2em;
    height: 2em;
    padding: .35em;
    border-radius: 50%;
    text-align: center;
    line-height: 2em;
    cursor: pointer;
}

.numbersContainer{
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.regularText{
    font-weight: 400;
    color: var(--light-grey);
    padding-top: 0;
}

h2{
    font-weight: 700;
    padding: .25em 0;
    color: var(--white);
    margin: .3em 0;
}

.container{
    background-color: white;
    position: absolute;
    padding: 1.5em;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    background: radial-gradient(circle at top, var(--dark-blue)0%, var(--dark-blue) 10%, var(--very-dark-blue));
    max-width: 295px;
}

.starContainer{
    display: flex;
    align-items: center;
    justify-content: left;
}

.notification{
    text-align: center;
    color: red;
}

.selection{
    text-align: center;
    color: orange;
    border-radius: 1em;
    margin: 1.25em 0;
    display: flex;
    justify-content: center;
}

div span{
    background-color: var(--dark-blue);
    padding: .4em;
    line-height: 1em;
    border-radius: 1em;
}

@media (max-width: 500px) {
    .container {
        min-width: 280px
    }
}